<h1>SearchPages#home</h1>
<%= render '/shared/search_form' %>
<hr>

<ul class="list-unstyled">
	<% if @facts and @facts.any? %>
		<% @facts.each do |fact| %>
			<li>
				<div class="img-rounded">
					<p><%= raw fact.content.sub(params[:query], "<mark>#{params[:query]}</mark>") %></p>
				</div>
			</li>
		<% end %>
	<% else %>
		<p>No facts found</p>
	<% end %>
</ul>