<ul class="nav nav-tabs">
  <li class="active">
  	<a href="#search-tab" data-toggle="tab">
  		<span class="glyphicon glyphicon-search"></span> Search
  	</a>
  </li>
  <li>
  	<a href="#add-fact-tab" data-toggle="tab">
  		<span class="glyphicon glyphicon-pencil"></span> Add Fact
  	</a>
  </li>
</ul>

<div class="tab-content">
  <div id="search-tab" class="tab-pane fade in active">
    <%= render '/shared/search_form' %>
  </div>
  <div id="add-fact-tab" class="tab-pane fade">
    <%= render '/shared/edit_fact' %>
  </div>
</div>

<hr>

<%= render('/shared/edit_fact', txt: 'testing facts 1...2...3') if Rails.env.development? %>


<%= render 'shared/search_results', facts: @facts, query: params[:query] %>