<div id="edit-fact" class="panel-default panel">
	<%= form_for Fact.new(content: local_assigns.fetch(:txt, '')), class:"panel-body", remote: true do |f| %>
	  
	  <%= f.text_area :content, placeholder: "Add new fact", rows:"3", id: "add-fact-txt-area",
	    	class:"form-control", "data-submit-on-enter" => true %>
	 
	  <div class="panel-footer">
	    <input type="submit" class="btn btn-success" value="Add Fact" id="add-fact-btn"></input>
	  </div>
	<% end %>
</div>