<div class="panel-group" id="search-results" >
	<% if facts.any? %>
	  	<%= render facts, query: query %>
	<% else %>
		<p>No facts found</p>
	<% end %>
</div>

<% if facts.length >= 6 %>
	<div class="load-more-container panel panel-default">
	    <!-- hide our loading gif image so that we show it when making ajax call via jquery -->
		<%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
		<%= link_to "Load More", root_path, class: "load-more center" %>
	</div>
<% end %>