<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Quick Facts</a>
    by <a href="http://www.michaelhartl.com/">Aetos Labs</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>